.nav {

    @media screen and (max-width: $breakpoint-large){
        display: none;
    }

    &__list {
        display: flex;
        margin-bottom: 3em;

        &--item {

            .nav__list--link {
                margin-left: 4em;
                font-weight: bold;
                border-bottom: solid $black 2px;
                padding-bottom: 0.1em;
            }
        }
    }
}