.nav {
    margin-top: 4em;
    margin-bottom: 0.5em;

    &__list {
        display: flex;
        
        &--link {
            font-size: 13px;
            margin-right: 1em;
            font-weight: 500;
        }

        &--button {
            font-size: 13px;
            margin-left: 1em;
            font-weight: 500;
            background-color: $lemon;
            padding: 0.4em;
            border-radius: 5%;
        }
    }
}