.header-logo {
    margin-top: 0.5em;
    &--link {
        
        display: flex;
        align-items: center;

        .header-logo__img {
            border-radius: 50%;
        }

        .header-logo--brand {
            font-size: 12px;
            font-weight: bold;
            margin-left: 0.5em;
        }
    }

}