.intro {

    &__bio {
        display: flex;
        padding-top: 1em;
        margin-left: 3em;

        &--picture {
            border-radius: 50%;
            margin-left: 2em;
        }

        &--title {
            display: flex;
            align-items: center;
            margin-left: 1em;
            font-weight: bold;
            font-size: 20px;
        }
    }

    &--content {
        margin-top: 1em;
        font-size: 14px;
        line-height: 1.3em;
        font-weight: 500;
        margin-left: 2em;
        margin-right: 2em;
        padding-bottom: 1em;
    }
}