.login-button {
    display: flex;

    &--link {
        display: flex;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        background-color: $lemon;
        padding: 0.5em;
        border-radius: 5px;
        
    }
}