.logo-menu {
    display: flex;
    align-items: center;

    .ui-button {
        display: flex;
        flex-direction: column;
        margin-right: 2.1em;
        font-size: 1.5em;

        .logo-menu__text {
            font-size: 12px;
            font-weight: bold;
        }
    }

    @media screen and (min-width: $breakpoint-large) {
       display: none;
    }
}