vendor/
wp/
wp-config.php
/content/*
!/content/themes/
/content/themes/*
!/content/themes/zumba-christele
!content/index.php
!content/plugins/
content/plugins/*
!content/plugins/zumba/
!content/plugins/comments/
!content/plugins/planning/

