/* Couleurs du site */

$orange: #F47D4A;
$fuschia: #E1315B;
$lemon: #FFEC5C;
$blue: #008DCB;
$black: black;
$white: white; 
$grey: #B0B0B0;

/* Font */ 

$font-size: 16px;
$font-size-medium: 18px; 
$font-size-large: 20px;

$font-family: 'Montserrat', sans-serif;
$font-family-fallback: 'Helvetica, Arial', sans-serif;

/* Breakpoint */

$breakpoint-small: 500px;
$breakpoint-medium: 800px;
$breakpoint-large: 1000px;

/* Duration */

$duration-slow: 0.9s;
$duration-medium: 0.5s;
$duration-fast: 0.3s; 



