.header {
    background-color: $fuschia;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10vh;
    width: 100%;
    z-index: 2;

    @media screen and (max-width: $breakpoint-large) {
        
    }
}